:root {
  --color-gray-950: #111;
  --color-white: #fff;
  --color-yellow: #f4d04e;
  --color-gray-500: #6b6b6b;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Figtree", "Barlow", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background: var(--color-yellow);
}

.card {
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  padding: 24px;
  width: clamp(320px, 90vw, 384px);
  min-height: 100px;
  box-shadow: 8px 8px 0 0 var(--color-gray-950);
  background: var(--color-white);
  box-sizing: border-box;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-image {
  border-radius: 10px;
  fill: var(--color-yellow);
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-title {
  border-radius: 4px;
  padding: 4px 12px;
  width: 82px;
  background: var(--color-yellow);
}
.card-date {
  font-weight: 500;
  font-size: clamp(12px, 1.5vw, 16px);

  line-height: 150%;
  color: var(--color-gray-950);
}
.card-heading {
  font-weight: 800;
  font-size: clamp(20px, 2.5vw, 24px);

  line-height: 150%;
  color: var(--color-gray-950);
}

.card-heading:hover,
.card-heading:hover {
  color: var(--color-yellow);
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.card-description {
  font-weight: 500;
  font-size: clamp(14px, 1.5vw, 16px);
  line-height: 150%;
  color: var(--color-gray-500);
}

.card-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-author-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.card-author-name {
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 700;
  color: var(--color-gray-950);
}
